.personajes-section {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 80px 0;
  flex-direction: column;
   overflow: visible;   
}


.personajes-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  max-width: 1400px;
  width: 95%;
  flex-wrap: wrap;        
  padding-bottom: 10px;
  position: relative;
  z-index: 10;
}


.personajes-container::-webkit-scrollbar {
  height: 8px;
}
.personajes-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.personaje-card {
  background: #FEFAE0;
  color: #000;
  border-radius: 10px;
  width: 220px;          
  max-width: 100%;
  padding: 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 15;
  border: none;
}

.personaje-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}


.personaje-card img {
  width: 80px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 1rem;
  display: block;
  margin-inline: auto;
}


.personaje-card h3 {
  font-family: 'Cinzel Decorative', serif;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #000;
}

.personaje-card p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  color: #111;
}


@media (max-width: 900px) {
  .personajes-container {
 
    gap: 1.5rem;
  }

  .personaje-card {

    width: 180px;
  }

  .personaje-card img {
    width: 70px;
  }
}

@media (max-width: 600px) {
  .personajes-container {
    flex-direction: column;     
    align-items: center;       
  }

  .personaje-card {
    width: 90%;               
  }
}