body.character-draven {
  background: linear-gradient(to bottom, #1C2628, #526961);
  color: #FEFAE0;
}

/* Personalización de secciones */
.section-description,
.section-modelsheet,
.section-concept {
  background: #1C2628;
  border-left: 4px solid #FEFAE0;
}
.concept-img-Draven{
  background: #353927
}

/* fondo Sección final */
.section-final {
  background: radial-gradient(circle at top,  #1C2628, #121A1C);
}
/*color de borde para el content de la img general*/
.hero-overlay {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
/*color borde de la img*/
.character-main-img {
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 0.5));
}
/*color defondo detras de la img*/
.hero-background {
  background: radial-gradient(circle at center, #353927 0%, #2e3b35 100%);
}
/*fondo y borde del modelo al final*/
.model-container {
  background: #1C2628;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}
